$desktop-breakpoint: 1275px;
$tablet-breakpoint: 768px;


@mixin centered-in-parent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centered-vertically-in-parent($position: relative) {
    position: $position;
    top: 50%;
    transform: translateY(-50%);
}

@mixin centered-horizontally-in-parent($position: relative) {
    position: $position;
    left: 50%;
    transform: translateX(-50%);
}

@mixin for-desktop-viewport {
    @media only screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin for-tablet-viewport {
    @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin for-mobile-viewport {
    @media only screen and (max-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin for-smaller-than-desktop-viewports {
    @media only screen and (max-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin for-custom-horizontal-breakpoints($min-width, $max-width) {
    @media only screen and (min-width: $min-width) and (max-width: $max-width) {
        @content;
    }
}