@mixin centered-in-parent {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin centered-vertically-in-parent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}