<div id="about-me" class="about-me-page page">
    <div class="about-me-wrapper">
        <h1 class="page-title about-me-title">
            About Me
        </h1>
        <p class="about-me-text">
            Hi, and thanks for visiting my site. I'm a Software Engineer currently based in East Boston. I like to work across a wide array of challenging problem areas: in the past I've done work on drones, tackled Microelectromechanical system computer vision problems, programmed remote sensing LIDAR analysis tools, and studied advanced networking protocols like <strong>Named Data Networking</strong>. Most recently, I worked within Amazon AGI on informational Q&A backend systems that help make intelligent decisions on behalf of the customer.
        </p>
        <p class="about-me-text">
            I also love philosophy, literature, music, and cinema. I sometimes write poetry and I'm starting to DJ in my spare time. Please don't hesitate to reach out to me if you think I might be a good fit for a vexxing problem you're working on, or if you just want to chat about life. Let's skip the small talk. Life is more meaningful that way.
        </p>
    </div>
</div>

<style>
    .about-me-page {
        background-color: rgb(48, 48, 48);
        z-index: 1;
    }

    h1 {
        color: rgb(212, 212, 212);
    }

    .about-me-wrapper {
        padding-top: 10vh;
        margin-left: 5vw;
    }

    .about-me-text {
        width: 50vw;
    }

    p {
        color: rgb(212, 212, 212);
        line-height: 1.75;
    }
</style>