---
import { Image } from 'astro:assets';

import myPicture from '../resources/images/me-cropped.jpg';
import githubLogo from '../../public/logos/github-mark.png';
import linkedinLogo from '../../public/logos/linkedinlogo-bw.png';
import spotifyLogo from '../../public/logos/spotify-logo-bw.png';
---

<div class="header-page page">
    <div class="centered header-wrapper">
        <div class="header-menu-container">
            <h1 class="page-title title-name">Will Fehrnstrom</h1>
            <ul class="header-navigation-menu">
                <li><a id="about-me-link" href="#about-me">About Me</a></li>
                <li><a href="https://drive.google.com/file/d/1gpMcLU_fAqnOaEJdMx6SarLoOVDa6Khh/view?usp=sharing">Resume</a></li>
            </ul>
            <div class="external-links">
                <a href="https://github.com/wfehrnstrom"><Image src={githubLogo} alt="Github Octocat" loading="eager"/></a>
                <a href="https://www.linkedin.com/in/william-f-aba4a5119/"><Image src={linkedinLogo} 			alt="LinkedIn Symbol" loading="eager"/></a>
                <a href="https://open.spotify.com/playlist/4vkeZxk3irDgA88vB26ljg?si=db99d76f4f3c4093"><Image src={spotifyLogo} alt="Spotify Symbol" loading="eager"/></a>
            </div>
        </div>
        <div class="my-image-container">
            <Image class="my-image" src={myPicture} alt="me in Central Park with the New York Skyline in the background" object-fit="cover" loading="eager"/>
        </div>
    </div>		
</div>

<style>
	.header-page {
		height: 100vh;
        z-index: 1;
        background-color: white;
	}

	.header-wrapper {
		width: 90vw;
		display: flex;
	}

	.header-menu-container {
		flex: 3 1 auto;
		margin-right: 2rem;
	}

	.title-name {
        z-index: 2;
		margin-bottom: 0;
	}

	.header-navigation-menu {
		display: inline-flex;
		list-style-type: none;
		margin: 1.89rem 0 0 1.26rem;
		padding: 0;
	}

	.header-navigation-menu > li {
		margin: 0 7.13rem 0 0;
		width: 5rem;
	}

	.header-navigation-menu > li:first-of-type {
		padding-left: 0;
	}

	.header-navigation-menu a:link, .header-navigation-menu a:visited {
		color: black;
		text-decoration: none;
	}

	.header-navigation-menu a:hover {
		color: rgb(85, 85, 85);
	}

	.external-links {
		display: flex;
		margin: 3rem 0 0 1.26rem;
	}

	.external-links a {
		display: block;
		width: 2.13rem;
		margin: 0;
		margin-right: 10rem;
	}

	.external-links a:hover {
		display: block;
		width: 2.13rem;
		margin: 0;
		margin-right: 10rem;
		opacity: 0.75;
	}

	.external-links img {
		object-fit: contain;
		width: 100%;
	}

	.external-links img:last-of-type {
		margin-right: 0;
	}

	.my-image-container {
		position: relative;
		flex: 1 3 26rem;
		margin: 0;
		padding: 0;
		width: 26rem;
		height: 26rem;
	}

	.my-image {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		margin-left: 0;
		width: 100%;
		object-fit: contain;
	}
</style>